* minute to hour, day, week
* tick to minute, hour, day
* loffset = 15 for 1 hour data resampling
* 2 ways = dict, comprehensive
* what operations to follow for various columns: sum for oi, volume

In [23]:
import pandas as pd
from glob import glob

In [131]:
data = pd.read_pickle('./continuation_data/NIFTY BANK.pkl')

In [132]:
pd.set_option('display.max_rows',1000)

In [133]:
data['datetime'] = data['datetime'].apply(lambda x: x.split('+')[0])

In [134]:
data['datetime'] = pd.to_datetime(data['datetime'])

In [135]:
data.set_index('datetime',inplace=True)

'15min' = '1min'*15candles

'1min'*15candles.max()['high'] = '15min'(high)

'1min'*15candles.min()['low'] = '15min'(low)

'1min'*15candles.first()['open'] = '15min'(open)

'1min'*15candles.last()['close'] = '15min'(close)

In [41]:
data['open_15'] = data['open'].resample('15min').first()
data['high_15'] = data['high'].resample('15min').max()
data['low_15'] = data['low'].resample('15min').min()
data['close_15'] = data['close'].resample('15min').last()
data['volume_15'] = data['volume'].resample('15min').sum()

In [49]:
data_15 = data[['open_15', 'high_15', 'low_15', 'close_15', 'volume_15']].dropna()

In [51]:
data = data[['open_15', 'high_15', 'low_15', 'close_15', 'volume_15']].dropna()

In [53]:
data.columns = ['open', 'high', 'low', 'close', 'volume']

In [54]:
data

                         open      high       low     close  volume
datetime
2015-01-09 09:15:00  18845.90  18864.00  18790.20  18815.15     0.0
2015-01-09 09:30:00  18815.15  18821.40  18758.50  18771.60     0.0
2015-01-09 09:45:00  18774.15  18808.30  18761.10  18802.90     0.0
2015-01-09 10:00:00  18802.90  18813.60  18758.50  18781.15     0.0
2015-01-09 10:15:00  18781.15  18807.10  18769.45  18803.00     0.0
...                       ...       ...       ...       ...     ...
2021-12-31 14:15:00  35455.95  35476.55  35430.95  35454.20     0.0
2021-12-31 14:30:00  35447.85  35503.85  35428.40  35496.50     0.0
2021-12-31 14:45:00  35494.85  35519.00  35464.40  35480.40     0.0
2021-12-31 15:00:00  35482.85  35497.40  35440.05  35470.00     0.0
2021-12-31 15:15:00  35472.45  35515.50  35463.80  35510.95     0.0

[43001 rows x 5 columns]

In [71]:
import datetime

In [72]:
data_date = datetime.date(2022,1,3)

In [80]:
data = pd.read_parquet(f'./nifty_2022-01/nifty_{data_date}.parquet')

In [81]:
futures_data = data[(data['instrument_name'] == 'NIFTY') & (data['instrument_type'] == 'FUT')].copy()

In [82]:
futures_nearest_expiry = futures_data[futures_data['expiry_date'] >= data_date]['expiry_date'].min()

In [83]:
futures_data = futures_data[futures_data['expiry_date'] == futures_nearest_expiry]

In [85]:
len(futures_data)

375

In [88]:
futures_data.sort_values(['datetime'],inplace=True)

In [94]:
futures_data = futures_data[['ticker', 'datetime', 'date', 'time', 'open', 'high', 'low', 'close', 'volume', 'open_interest']]

In [98]:
futures_data.set_index('datetime',inplace=True)

In [100]:
futures_data['open_15'] = futures_data['open'].resample('15min').first()
futures_data['high_15'] = futures_data['high'].resample('15min').max()
futures_data['low_15'] = futures_data['low'].resample('15min').min()
futures_data['close_15'] = futures_data['close'].resample('15min').last()
futures_data['volume_15'] = futures_data['volume'].resample('15min').sum()
futures_data['open_interest_15'] = futures_data['open_interest'].resample('15min').last()

In [106]:
futures_data = futures_data[['ticker','date','time','open_15', 'high_15', 'low_15', 'close_15', 'volume_15', 'open_interest_15']].dropna()

In [108]:
futures_data.columns = ['ticker','date','time','open', 'high', 'low', 'close', 'volume', 'open_interest']

In [115]:
futures_data['open_60'] = futures_data['open'].resample('60min',loffset='15min').first()
futures_data['high_60'] = futures_data['high'].resample('60min',loffset='15min').max()
futures_data['low_60'] = futures_data['low'].resample('60min',loffset='15min').min()
futures_data['close_60'] = futures_data['close'].resample('60min',loffset='15min').last()
futures_data['volume_60'] = futures_data['volume'].resample('60min',loffset='15min').sum()
futures_data['open_interest_60'] = futures_data['open_interest'].resample('60min',loffset='15min').last()

/tmp/ipykernel_18593/1677208394.py:1: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  futures_data['open_60'] = futures_data['open'].resample('60min',loffset='15min').first()
/tmp/ipykernel_18593/1677208394.py:2: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  futures_data['high_60'] = futures_data['high'].resample('60min',loffset='15min').max()
/tmp/ipykernel_18593/1677208394.py:3: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  futures_data['low_60'] = futures_data['low'].resample('60min',loffset='15min').min()
/tmp/ipykernel_18593/1677208394.py:4: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  futures_data['close_60'] = futures_data['close'].resample('60min',loffset='15min').last()
/tmp/ipykernel_18593/1677208394.py:5: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  futures_data['volume_60'] = futures_data['volume'].resample('60min',loffset='15min').sum()
/tmp/ipykernel_18593/1677208394.py:6: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  futures_data['open_interest_60'] = futures_data['open_interest'].resample('60min',loffset='15min').last()

In [117]:
futures_data.dropna(inplace=True)

In [121]:
futures_data = futures_data[['open_60', 'high_60', 'low_60', 'close_60', 'volume_60', 'open_interest_60']]

In [123]:
futures_data.columns = ['open', 'high', 'low', 'close', 'volume', 'open_interest']

In [124]:
futures_data

,open,high,low,close,volume,open_interest
datetime,,,,,,
2022-01-03 09:15:00,17443.00,17529.00,17421.90,17527.25,1937600.0,10145500.0
2022-01-03 10:15:00,17528.95,17560.00,17519.25,17558.95,840450.0,10317550.0
2022-01-03 11:15:00,17559.75,17574.10,17551.15,17568.00,813450.0,10598250.0
2022-01-03 12:15:00,17569.00,17625.95,17559.00,17609.05,783950.0,10721700.0
2022-01-03 13:15:00,17610.05,17641.00,17606.00,17640.00,665900.0,10769600.0
2022-01-03 14:15:00,17639.70,17690.95,17638.20,17664.50,1299500.0,10790450.0
2022-01-03 15:15:00,17663.35,17692.35,17656.00,17692.35,1504250.0,10877750.0

In [138]:
resampling_dict = {'open':'first',
                   'high':'max',
                   'low':'min',
                   'close':'last',
                   'volume':'sum'}

In [129]:
futures_data.resample('120min',loffset='75min').apply(resampling_dict)

/tmp/ipykernel_18593/3354055381.py:1: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  futures_data.resample('120min',loffset='75min').apply(resampling_dict)

,open,high,low,close,volume,open_interest
datetime,,,,,,
2022-01-03 09:15:00,17443.00,17529.00,17421.90,17527.25,1937600.0,10145500.0
2022-01-03 11:15:00,17528.95,17574.10,17519.25,17568.00,1653900.0,10598250.0
2022-01-03 13:15:00,17569.00,17641.00,17559.00,17640.00,1449850.0,10769600.0
2022-01-03 15:15:00,17639.70,17692.35,17638.20,17692.35,2803750.0,10877750.0

In [130]:
futures_data.resample('D').apply(resampling_dict)

               open      high      low     close     volume  open_interest
datetime
2022-01-03  17443.0  17692.35  17421.9  17692.35  7845100.0     10877750.0

In [140]:
data = data.resample('D').apply(resampling_dict)

In [143]:
data.dropna(inplace=True)

In [145]:
data.resample('W').apply(resampling_dict)

                open      high       low     close  volume
datetime
2015-01-11  18845.90  18864.00  18479.65  18598.05       0
2015-01-18  18632.00  19410.40  18517.90  19134.65       0
2015-01-25  19384.20  20167.65  19332.70  20051.80       0
2015-02-01  20179.80  20907.55  19732.45  19835.65       0
2015-02-08  19778.95  19991.40  18740.35  18788.30       0
2015-02-15  18650.00  19441.00  18226.90  19353.20       0
2015-02-22  19518.85  19532.70  18876.25  19050.30       0
2015-03-01  19199.15  19776.90  18489.60  19772.10       0
2015-03-08  19954.50  20541.65  19398.75  19760.25       0
2015-03-15  19541.50  19541.50  18737.35  18818.65       0
2015-03-22  18777.80  19373.45  18541.50  18635.70       0
2015-03-29  18695.05  18696.70  17720.30  18067.00       0
2015-04-05  18160.20  18668.85  18089.45  18633.75       0
2015-04-12  18702.60  18896.50  18351.80  18773.45       0
2015-04-19  18842.25  19038.50  18321.75  18363.50       0
2015-04-26  18386.25  18500.30  17798.65  18013.85       0
2015-05-03  18063.60  18431.90  17738.90  18389.75       0
2015-05-10  18417.50  18586.30  17246.55  17782.90       0
2015-05-17  17921.15  18260.30  17597.75  18172.40       0
2015-05-24  18274.60  18755.45  18213.75  18399.70       0
2015-05-31  18405.05  18751.20  18226.00  18720.95       0
2015-06-07  18721.15  18832.50  17469.65  17523.00       0
2015-06-14  17542.50  17821.90  17174.70  17520.40       0
2015-06-21  17499.35  17935.30  17293.45  17920.90       0
2015-06-28  17956.55  18539.15  17950.60  18384.40       0
2015-07-05  17962.50  18756.65  17821.90  18746.70       0
2015-07-12  18488.35  18980.65  18402.85  18691.85       0
2015-07-19  18753.80  19229.05  18657.60  19107.45       0
2015-07-26  19126.10  19149.05  18613.55  18640.20       0
2015-08-02  18566.55  18828.85  18174.20  18717.30       0
2015-08-09  18782.65  19103.70  18758.90  18925.70       0
2015-08-16  18926.10  19071.35  18034.75  18728.10       0
2015-08-23  18763.05  18896.45  17842.10  18031.60       0
2015-08-30  17446.35  17569.80  16670.55  17190.20       0
2015-09-06  17137.25  17353.30  15933.15  16147.10       0
2015-09-13  16222.20  16781.55  15762.20  16596.70       0
2015-09-20  16596.50  17602.00  16525.15  17422.30       0
2015-09-27  17186.05  17652.20  16759.00  17198.05       0
2015-10-04  17286.25  17461.35  16648.30  17147.15       0
2015-10-11  17374.25  17827.15  17362.70  17569.90       0
2015-10-18  17642.60  17946.90  17434.05  17925.65       0
2015-10-25  17911.65  17980.50  17565.35  17935.45       0
2015-11-01  18027.10  18029.05  17170.35  17335.40       0
2015-11-08  17351.45  17466.20  16911.60  17113.55       0
2015-11-15  16667.90  17068.25  16587.25  16951.95       0
2015-11-22  16881.65  17302.55  16787.65  17054.30       0
2015-11-29  17120.25  17403.65  16964.90  17362.70       0
2015-12-06  17336.25  17498.35  16880.35  16922.40       0
2015-12-13  17018.00  17031.85  16260.10  16346.35       0
2015-12-20  16212.40  16771.80  16188.05  16600.80       0
2015-12-27  16593.40  16946.10  16580.65  16833.35       0
2016-01-03  16843.40  17066.65  16824.05  17034.65       0
2016-01-10  16966.35  16966.35  16049.75  16166.90       0
2016-01-17  15979.05  16156.80  15154.35  15202.45       0
2016-01-24  15165.20  15575.65  14754.95  15518.50       0
2016-01-31  15667.00  15682.50  15136.85  15514.85       0
2016-02-07  15547.75  15565.50  14761.40  15209.50       0
2016-02-14  15206.30  15367.90  13811.45  13919.80       0
2016-02-21  14120.90  14602.25  13892.50  14340.30       0
2016-02-28  14331.20  14467.15  13519.90  13814.60       0
2016-03-06  13818.90  15451.75  13411.60  15388.35       0
2016-03-13  15323.45  15354.15  14989.40  15198.90       0
2016-03-20  15309.05  15704.75  15178.30  15653.50       0
2016-03-27  15735.55  15967.85  15735.55  15872.05       0
2016-04-03  15867.75  16282.75  15522.20  16167.00       0
2016-04-10  16236.90  16278.50  15458.05  15589.55       0
2016-04-17  15623.35  16349.70  15440.25  16249.95       0
2016-04-24  16328.70  16769.55  16011.90  16723.40       0
2016-05-01  16746.95  17028.95  16527.55  16766.85       0
2016-05-08  16614.00  16719.40  16186.25  16311.30       0
2016-05-15  16357.00  16961.80  16357.00  16713.60       0
2016-05-22  16744.15  16902.05  16432.45  16469.90       0
2016-05-29  16560.15  17543.30  16368.00  17510.35       0
2016-06-05  17580.85  17762.05  17350.45  17662.40       0
2016-06-12  17710.45  18051.50  17636.90  17826.55       0
2016-06-19  17620.55  17942.25  17527.55  17685.50       0
2016-06-26  17425.80  17907.50  16946.35  17413.75       0
2016-07-03  17346.30  18074.55  17346.30  17955.80       0
2016-07-10  18091.75  18146.35  17910.90  18008.65       0
2016-07-17  18268.15  19016.10  18243.30  18954.70       0
2016-07-24  18998.30  19158.00  18551.30  18706.35       0
2016-07-31  18594.95  19126.75  18572.10  18950.35       0
2016-08-07  18896.50  19078.50  18443.65  18903.10       0
2016-08-14  18986.75  19028.70  18537.10  18931.65       0
2016-08-21  19029.10  19457.40  18839.40  19424.00       0
2016-08-28  19432.60  19493.20  19133.90  19188.05       0
2016-09-04  19174.45  19928.20  19096.70  19891.85       0
2016-09-11  19990.95  20575.80  19990.95  20247.45       0
2016-09-18  19861.45  20225.30  19730.25  19868.70       0
2016-09-25  19892.20  20261.90  19750.50  19868.80       0
2016-10-02  19792.20  19792.95  19061.40  19323.20       0
2016-10-09  19395.55  19813.35  19319.10  19403.00       0
2016-10-16  19489.50  19498.65  18824.85  19033.00       0
2016-10-23  19136.30  19743.15  19003.40  19698.05       0
2016-10-30  19763.85  19915.60  19252.10  19499.25       0
2016-11-06  19578.60  19590.70  18961.85  19077.60       0
2016-11-13  19317.85  20306.45  18193.25  19780.00       0
2016-11-20  19808.35  19860.35  18898.35  18956.05       0
2016-11-27  19063.80  19074.65  18219.40  18482.90       0
2016-12-04  18237.20  18711.20  18164.20  18254.95       0
2016-12-11  18245.00  18738.75  17962.55  18679.45       0
2016-12-18  18616.05  18616.05  18143.50  18333.90       0
2016-12-25  18258.10  18316.45  17819.75  17886.20       0
2017-01-01  17825.50  18245.50  17608.35  18149.50       0
2017-01-08  18242.30  18323.00  17831.75  18259.25       0
2017-01-15  18314.25  18965.70  18257.75  18908.90       0
2017-01-22  18899.70  19276.25  18793.35  18806.85       0
2017-01-29  18762.00  19794.90  18725.05  19702.10       0
2017-02-05  19718.80  20228.95  19435.75  20183.25       0
2017-02-12  20307.15  20461.30  20001.10  20227.00       0
2017-02-19  20273.65  21031.65  20088.40  20549.45       0
2017-02-26  20494.85  21011.90  20474.85  20851.20       0
2017-03-05  20853.45  20901.00  20423.70  20507.10       0
2017-03-12  20548.95  20874.10  20535.40  20760.90       0
2017-03-19  21189.85  21316.85  21062.00  21175.70       0
2017-03-26  21202.55  21202.55  20755.15  21122.75       0
2017-04-02  21178.10  21690.90  20979.70  21430.95       0
2017-04-09  21539.20  21699.00  21398.10  21436.75       0
2017-04-16  21492.05  21786.95  21396.70  21680.95       0
2017-04-23  21700.50  21947.00  21390.25  21573.55       0
2017-04-30  21591.90  22382.05  21586.15  22349.15       0
2017-05-07  22412.55  22844.85  22240.60  22580.25       0
2017-05-14  22678.45  22977.20  22579.35  22695.25       0
2017-05-21  22735.85  22977.65  22630.75  22815.25       0
2017-05-28  22874.80  23408.30  22471.35  23300.85       0
2017-06-04  23310.60  23469.45  23095.00  23362.75       0
2017-06-11  23397.40  23706.65  23350.35  23698.30       0
2017-06-18  23610.15  23628.20  23311.90  23495.00       0
2017-06-25  23571.35  23896.90  23507.70  23549.85       0
2017-07-02  23636.95  23638.30  22998.05  23241.95       0
2017-07-09  23240.35  23540.15  23144.50  23444.80       0
2017-07-16  23449.15  23962.10  23449.15  23943.20       0
2017-07-23  24011.40  24299.60  23914.40  24280.65       0
2017-07-30  24307.70  25030.40  24237.05  24806.90       0
2017-08-06  24880.60  25196.45  24593.35  24823.95       0
2017-08-13  24854.15  24977.80  23869.40  23977.70       0
2017-08-20  24051.05  24495.20  23926.00  24072.70       0
2017-08-27  24140.55  24411.00  23854.60  24320.50       0
2017-09-03  24351.25  24494.15  24105.75  24406.30       0
2017-09-10  24456.30  24456.30  24151.90  24355.50       0
2017-09-17  24468.50  24993.10  24458.85  24844.45       0
2017-09-24  24948.15  25104.90  24341.35  24366.35       0
2017-10-01  24361.55  24361.55  23613.20  24026.40       0
2017-10-08  24200.60  24238.60  24008.05  24200.50       0
2017-10-15  24209.55  24778.55  23978.60  24662.85       0
2017-10-22  24815.40  24877.05  23924.10  23953.60       0
2017-10-29  24085.45  25177.35  23914.05  24845.90       0
2017-11-05  24873.65  25691.55  24813.60  25643.25       0
2017-11-12  25569.00  25693.70  25120.25  25515.15       0
2017-11-19  25570.25  25924.30  25167.20  25700.25       0
2017-11-26  25733.70  25870.95  25621.60  25793.45       0
2017-12-03  25693.05  25953.50  25155.05  25192.85       0
2017-12-10  25295.05  25362.10  24814.45  25340.65       0
2017-12-17  25434.75  25558.65  24889.10  25452.70       0
2017-12-24  25181.75  25779.05  24617.15  25633.45       0
2017-12-31  25659.75  25732.45  25419.05  25530.55       0
2018-01-07  25565.75  25640.80  25234.65  25619.90       0
2018-01-14  25690.25  25801.60  25527.95  25721.90       0
2018-01-21  25858.15  26956.40  25846.85  26893.60       0
2018-01-28  26940.50  27520.90  26844.25  27381.40       0
2018-02-04  27446.10  27651.35  26364.75  26368.10       0
2018-02-11  25968.15  26213.70  25024.85  25494.70       0
2018-02-18  25530.10  25810.25  25101.50  25183.95       0
2018-02-25  25324.60  25345.05  24782.10  25318.60       0
2018-03-04  25452.00  25722.10  24855.35  24866.00       0
2018-03-11  24831.35  25038.85  24049.35  24290.25       0
2018-03-18  24443.60  25009.55  24360.65  24544.95       0
2018-03-25  24530.15  24587.45  23605.90  23652.80       0
2018-04-01  23674.90  24495.60  23659.25  24306.10       0
2018-04-08  24235.65  24931.95  24065.45  24811.35       0
2018-04-15  24848.85  25411.30  24833.85  25231.40       0
2018-04-22  25082.10  25426.75  24839.30  25009.70       0
2018-04-29  25065.50  25440.85  24737.00  25432.10       0
2018-05-06  25490.15  25716.00  25469.65  25644.80       0
2018-05-13  25676.25  26435.75  25676.25  26408.45       0
2018-05-20  26404.45  26971.20  25840.15  25928.00       0
2018-05-27  26017.50  26325.55  25632.75  26294.90       0
2018-06-03  26291.65  27162.65  25985.35  26676.35       0
2018-06-10  27023.70  27031.55  26072.60  26447.20       0
2018-06-17  26473.20  26764.35  26345.30  26406.90       0
2018-06-24  26444.30  26805.70  26225.70  26761.05       0
2018-07-01  26718.15  26802.25  26162.70  26360.90       0
2018-07-08  26364.45  26609.30  26061.75  26503.45       0
2018-07-15  26642.35  27163.90  26612.25  26950.70       0
2018-07-22  26914.50  27187.00  26648.10  26872.10       0
2018-07-29  26701.30  27660.05  26701.30  27631.45       0
2018-08-05  27767.65  27870.55  27330.45  27709.25       0
2018-08-12  27769.55  28373.90  27769.55  28107.05       0
2018-08-19  27760.80  28176.75  27743.10  28121.20       0
2018-08-26  28171.65  28321.95  27786.80  27837.30       0
2018-09-02  27971.25  28386.70  27941.75  28046.80       0
2018-09-09  28199.45  28199.45  27136.90  27460.45       0
2018-09-16  27395.20  27404.65  26557.50  27143.85       0
2018-09-23  27002.60  27002.60  25055.80  25621.80       0
2018-09-30  25645.05  25645.05  24678.85  25133.75       0
2018-10-07  24943.90  25464.00  24253.95  24306.35       0
2018-10-14  24470.75  25483.15  24244.85  25348.70       0
2018-10-21  25444.00  25903.15  24927.45  25097.70       0
2018-10-28  25484.25  25491.45  24359.80  24359.80       0
2018-11-04  24647.95  25854.70  24407.25  25723.40       0
2018-11-11  25731.55  25857.60  25534.80  25766.50       0
2018-11-18  25816.15  26332.35  25384.95  26247.00       0
2018-11-25  26364.60  26378.05  25951.35  26004.30       0
2018-12-02  26096.00  27012.30  26026.05  26845.85       0
2018-12-09  27032.90  27032.90  26150.60  26642.90       0
2018-12-16  26073.65  26950.75  25601.75  26803.65       0
2018-12-23  26915.45  27368.90  26825.25  26897.35       0
2018-12-30  26877.05  27238.95  26408.15  27120.75       0
2019-01-06  27267.80  27428.85  26923.75  27202.55       0
2019-01-13  27378.65  27752.95  27165.15  27420.40       0
2019-01-20  27389.20  27611.55  27182.25  27465.10       0
2019-01-27  27514.55  27622.20  27045.60  27119.20       0
2019-02-03  27041.45  27531.65  26443.70  27060.20       0
2019-02-10  26974.00  27588.50  26827.30  27261.50       0
2019-02-17  27240.50  27305.90  26635.45  26792.90       0
2019-02-24  26754.60  27099.30  26617.70  26859.90       0
2019-03-03  26934.20  27196.85  26719.65  27022.95       0
2019-03-10  27068.15  27813.55  26958.85  27759.35       0
2019-03-17  27840.10  29518.60  27801.80  29411.45       0
2019-03-24  29521.60  30007.90  29371.90  29579.00       0
2019-03-31  29329.40  30498.15  29157.15  30383.20       0
2019-04-07  30537.60  30647.20  29811.85  30130.50       0
2019-04-14  30201.50  30231.90  29641.40  29868.65       0
2019-04-21  29983.50  30656.50  29926.80  30191.50       0
2019-04-28  30282.50  30282.50  29437.10  29980.80       0
2019-05-05  29920.40  30119.75  29550.85  29924.65       0
2019-05-12  29626.50  29832.70  28785.60  28975.85       0
2019-05-19  29026.65  29550.15  28526.10  29521.15       0
2019-05-26  30230.40  31703.70  30113.65  31216.00       0
2019-06-02  31234.90  31782.40  30642.55  31350.85       0
2019-06-09  31406.05  31752.70  30628.90  31072.60       0
2019-06-16  31259.20  31398.70  30510.65  30587.10       0
2019-06-23  30652.00  30823.85  30221.30  30624.10       0
2019-06-30  30680.95  31489.90  30453.90  31121.60       0
2019-07-07  31271.00  31658.10  31106.95  31424.85       0
2019-07-14  31346.85  31346.85  30348.85  30587.40       0
2019-07-21  30688.85  30799.30  29705.90  29835.75       0
2019-07-28  29617.05  29617.05  28872.30  29363.90       0
2019-08-04  29583.45  29583.45  27937.55  28231.95       0
2019-08-11  27841.20  28602.20  27390.50  28444.65       0
2019-08-18  28356.80  28356.80  27683.85  28200.55       0
2019-08-25  28331.25  28468.25  26563.10  26978.00       0
2019-09-01  27663.95  28273.95  26864.50  27485.55       0
2019-09-08  27239.20  27311.05  26642.60  27235.85       0
2019-09-15  27240.35  28124.90  26995.50  28103.35       0
2019-09-22  27868.00  29417.30  26645.15  28964.05       0
2019-09-29  30039.40  30795.00  29470.95  29886.20       0
2019-10-06  29674.80  29753.80  27671.30  27682.15       0
2019-10-13  27909.90  28857.70  27571.20  28038.65       0
2019-10-20  28238.50  29248.00  28043.50  29099.60       0
2019-10-27  29416.25  29691.85  28926.20  29495.65       0
2019-11-03  29527.60  30413.50  29387.25  30360.95       0
2019-11-10  30415.90  31107.75  30015.10  30754.10       0
2019-11-17  30664.65  31203.65  30340.25  31012.05       0
2019-11-24  31036.80  31469.30  30904.85  31130.10       0
2019-12-01  31065.10  32155.75  31055.75  31926.30       0
2019-12-08  32008.30  32122.70  31252.60  31319.45       0
2019-12-15  31321.40  32098.50  30997.85  32029.60       0
2019-12-22  32159.00  32441.90  31900.80  32381.15       0
2019-12-29  32381.00  32500.35  31974.85  32414.35       0
2020-01-05  32486.60  32611.20  31962.25  32077.80       0
2020-01-12  31910.45  32345.20  30902.60  32081.90       0
2020-01-19  32139.10  32322.65  31454.35  31553.70       0
2020-01-26  31923.95  31923.95  30615.75  31257.00       0
2020-02-02  31110.55  31226.75  29755.30  29814.75       0
2020-02-09  29811.75  31465.30  29615.30  31163.25       0
2020-02-16  31248.65  31598.55  30780.40  30861.95       0
2020-02-23  30873.85  31082.00  30259.45  30939.55       0
2020-03-01  30666.35  30702.15  29053.40  29191.40       0
2020-03-08  29701.00  29778.65  27201.30  27780.45       0
2020-03-15  27031.45  27039.05  21397.45  25346.35       0
2020-03-22  24061.60  24061.60  18680.65  20272.90       0
2020-03-29  18311.30  21450.95  16118.10  19931.10       0
2020-04-05  19254.45  19712.05  17149.85  17317.65       0
2020-04-12  18454.55  20318.00  17957.35  19876.45       0
2020-04-19  19854.90  20827.95  18706.25  20749.25       0
2020-04-26  21104.70  21113.45  19053.50  19636.60       0
2020-05-03  19870.80  21966.65  19866.45  21478.45       0
2020-05-10  20514.75  20514.75  18943.95  19360.70       0
2020-05-17  19610.45  20088.20  18291.15  18818.20       0
2020-05-24  18795.10  18795.10  17108.35  17359.50       0
2020-05-31  17537.65  19450.50  17313.25  19212.45       0
2020-06-07  19728.90  21613.25  19668.70  21177.40       0
2020-06-14  21636.10  21805.30  19529.30  20600.05       0
2020-06-21  20457.15  21466.65  19510.35  21332.95       0
2020-06-28  21491.55  22479.35  20928.70  21661.75       0
2020-07-05  21291.55  22344.70  21026.60  21854.00       0
2020-07-12  22270.95  23078.90  22040.55  22401.70       0
2020-07-19  22613.25  22650.05  21028.00  22057.45       0
2020-07-26  22307.30  23208.40  22199.50  22676.10       0
2020-08-02  22664.60  22664.60  21378.35  21656.00       0
2020-08-09  21543.80  21933.45  21034.00  21762.00       0
2020-08-16  21824.90  22438.15  21461.35  21695.65       0
2020-08-23  21906.95  22418.80  21404.05  22318.60       0
2020-08-30  22436.85  24608.70  22436.10  24577.00       0
2020-09-06  25038.80  25228.50  22878.05  23084.20       0
2020-09-13  23036.25  23107.45  22085.65  22509.35       0
2020-09-20  22683.35  22746.60  21791.20  22063.40       0
2020-09-27  21983.40  22094.20  20407.45  20934.25       0
2020-10-04  21152.05  22292.55  21055.10  22234.55       0
2020-10-11  22352.10  23903.05  22248.85  23885.40       0
2020-10-18  23955.60  24186.75  22971.45  23528.40       0
2020-10-25  23902.90  24821.45  23758.75  24473.95       0
2020-11-01  24525.80  24809.65  23613.90  23898.85       0
2020-11-08  24367.60  26850.50  24128.65  26768.10       0
2020-11-15  27088.95  29028.75  27088.95  28502.60       0
2020-11-22  28792.25  29781.95  28582.50  29150.35       0
2020-11-29  29432.80  30196.75  28853.40  29584.55       0
2020-12-06  29844.80  30155.35  29152.30  30138.30       0
2020-12-13  30062.60  30809.75  29951.25  30600.80       0
2020-12-20  30735.15  30945.10  30348.15  30652.45       0
2020-12-27  30595.80  30598.95  28977.65  30374.70       0
2021-01-03  30558.85  31505.55  30558.85  31211.10       0
2021-01-10  31485.15  32298.05  30904.50  32078.15       0
2021-01-17  32280.30  32718.50  31734.20  32255.95       0
2021-01-24  32275.15  32841.35  31121.80  31177.95       0
2021-01-31  31507.15  31694.20  29694.95  30612.80       0
2021-02-07  30976.35  36612.95  30909.20  35753.85       0
2021-02-14  36073.85  36474.25  35429.20  36124.20       0
2021-02-21  36501.40  37703.05  35587.75  35928.70       0
2021-02-28  35874.30  37220.70  34662.20  34849.40       0
2021-03-07  35374.25  36451.40  34899.20  35333.80       0
2021-03-14  35462.45  36497.35  35091.90  35453.00       0
2021-03-21  35544.25  35544.25  33362.85  34115.10       0
2021-03-28  34088.40  34357.75  32420.55  33445.15       0
2021-04-04  33615.90  33990.10  33154.70  33905.35       0
2021-04-11  33649.15  33688.25  32158.45  32446.55       0
2021-04-18  31637.90  32325.15  30522.50  31946.15       0
2021-04-25  30993.45  32147.00  30407.90  31625.85       0
2021-05-02  32316.65  34284.85  32149.80  32714.35       0
2021-05-09  32368.55  33255.50  31921.65  32888.25       0
2021-05-16  33175.30  33297.60  32119.90  32163.35       0
2021-05-23  32437.85  34687.35  32328.15  34686.35       0
2021-05-30  34869.30  35434.65  34410.80  35215.70       0
2021-06-06  35097.45  35804.35  34935.25  35339.55       0
2021-06-13  35460.80  35545.45  34645.80  35055.40       0
2021-06-20  34936.55  35377.70  33915.15  34692.25       0

In [147]:
data = data.resample('M').apply(resampling_dict)

In [149]:
data.reset_index(inplace=True)

In [155]:
data['datetime'] = data['datetime'].apply(lambda x: str(x.year)+'-'+str(x.month))

In [156]:
data

   datetime      open      high       low     close  volume
0    2015-1  18845.90  20907.55  18479.65  19835.65       0
1    2015-2  19778.95  19991.40  18226.90  19772.10       0
2    2015-3  19954.50  20541.65  17720.30  18165.30       0
3    2015-4  18204.55  19038.50  17738.90  18389.75       0
4    2015-5  18417.50  18755.45  17246.55  18720.95       0
5    2015-6  18721.15  18832.50  17174.70  18287.00       0
6    2015-7  18275.60  19229.05  18174.20  18717.30       0
7    2015-8  18782.65  19103.70  16670.55  17144.75       0
8    2015-9  16983.80  17652.20  15762.20  17220.00       0
9   2015-10  17362.95  18029.05  17112.00  17335.40       0
10  2015-11  17351.45  17498.35  16587.25  17405.75       0
11  2015-12  17456.75  17495.45  16188.05  16904.15       0
12   2016-1  16932.50  17066.65  14754.95  15514.85       0
13   2016-2  15547.75  15565.50  13411.60  14017.85       0
14   2016-3  14064.80  16282.75  14064.80  16141.20       0
15   2016-4  16099.65  17028.95  15440.25  16766.85       0
16   2016-5  16614.00  17665.95  16186.25  17593.50       0
17   2016-6  17670.85  18051.50  16946.35  17914.00       0
18   2016-7  18019.70  19158.00  17910.90  18950.35       0
19   2016-8  18896.50  19823.40  18443.65  19788.20       0
20   2016-9  19805.80  20575.80  19061.40  19323.20       0
21  2016-10  19395.55  19915.60  18824.85  19499.25       0
22  2016-11  19578.60  20306.45  18187.50  18601.40       0
23  2016-12  18676.75  18738.75  17608.35  18149.50       0
24   2017-1  18242.30  19794.90  17831.75  19491.40       0
25   2017-2  19522.40  21031.65  19471.40  20609.15       0
26   2017-3  20698.90  21690.90  20423.70  21430.95       0
27   2017-4  21539.20  22382.05  21390.25  22349.15       0
28   2017-5  22412.55  23469.45  22240.60  23452.40       0
29   2017-6  23394.10  23896.90  22998.05  23241.95       0
30   2017-7  23240.35  25134.20  23144.50  25091.55       0
31   2017-8  25152.85  25196.45  23854.60  24301.35       0
32   2017-9  24389.20  25104.90  23613.20  24026.40       0
33  2017-10  24200.60  25177.35  23914.05  25047.85       0
34  2017-11  25197.30  25953.50  25120.25  25349.90       0
35  2017-12  25409.55  25779.05  24617.15  25530.55       0
36   2018-1  25565.75  27651.35  25234.65  27392.65       0
37   2018-2  27334.85  27612.40  24782.10  25111.50       0
38   2018-3  25022.35  25225.30  23605.90  24306.10       0
39   2018-4  24235.65  25616.50  24065.45  25546.45       0
40   2018-5  25607.05  27162.65  25469.90  26874.40       0
41   2018-6  26913.40  27031.55  26072.60  26360.90       0
42   2018-7  26364.45  27870.55  26061.75  27773.15       0
43   2018-8  27684.80  28386.70  27330.45  28046.80       0
44   2018-9  28199.45  28199.45  24678.85  25133.75       0
45  2018-10  24943.90  25903.15  24244.85  25086.15       0
46  2018-11  25285.20  27012.30  25129.45  26845.85       0
47  2018-12  27032.90  27368.90  25601.75  27159.75       0
48   2019-1  27231.40  27752.95  26443.70  27250.25       0
49   2019-2  27334.55  27588.50  26617.70  26811.95       0
50   2019-3  26941.00  30498.15  26941.00  30383.20       0
51   2019-4  30537.60  30656.50  29437.10  29729.45       0
52   2019-5  29699.80  31782.40  28526.10  31350.85       0
53   2019-6  31406.05  31752.70  30221.30  31121.60       0
54   2019-7  31271.00  31658.10  28537.00  28868.55       0
55   2019-8  28660.50  28818.65  26563.10  27485.55       0
56   2019-9  27239.20  30795.00  26642.60  29098.30       0
57  2019-10  29226.15  30413.50  27571.20  30034.85       0
58  2019-11  30196.15  32155.75  30015.10  31926.30       0
59  2019-12  32008.30  32611.20  30997.85  32179.40       0
60   2020-1  32237.90  32463.10  30522.05  30812.75       0
61   2020-2  30726.20  31598.55  29053.40  29191.40       0
62   2020-3  29701.00  29778.65  16118.10  19051.40       0
63   2020-4  19122.40  21966.65  17149.85  21478.45       0
64   2020-5  20514.75  20514.75  17108.35  19212.45       0
65   2020-6  19728.90  22479.35  19510.35  21378.25       0
66   2020-7  21354.10  23208.40  21028.00  21656.00       0
67   2020-8  21543.80  25228.50  21034.00  23668.75       0
68   2020-9  23893.80  24198.85  20407.45  21416.85       0
69  2020-10  21685.25  24821.45  21685.25  23898.85       0
70  2020-11  24367.60  30196.75  24128.65  29584.55       0
71  2020-12  29844.80  31505.55  28977.65  31237.80       0
72   2021-1  31297.30  32841.35  29694.95  30612.80       0
73   2021-2  30976.35  37703.05  30909.20  34849.40       0
74   2021-3  35374.25  36497.35  32420.55  33340.05       0
75   2021-4  33588.00  34284.85  30407.90  32714.35       0
76   2021-5  32368.55  35582.35  31921.65  35484.55       0
77   2021-6  35639.75  35804.35  33915.15  34780.55       0
78   2021-7  34866.00  35984.65  34117.70  34576.15       0
79   2021-8  34760.90  36549.95  34593.70  36389.15       0
80   2021-9  36591.45  38366.55  36153.60  37411.05       0
81  2021-10  37140.40  41827.65  36894.85  39270.55       0
82  2021-11  39432.15  40160.20  35341.75  35600.45       0
83  2021-12  35902.90  37579.50  34020.25  35510.95       0

In [167]:
year_dict = {1:'JAN',
             2:'FEB',
             3:'MAR',
             4:'APR',
             5:'MAY',
             6:'JUN',
             7:'JUL',
            8:'AUG',
            9:'SEP',
            10:'OCT',
            11:'NOV',
            12:'DEC'}

In [175]:
data['datetime'] = data['datetime'].apply(lambda x: year_dict[(int(x.split('-')[1]))]+"'"+x.split('-')[0][-2:])

In [177]:
'2022-01-03 09:15:00'

'2022-01-03 09:15:00'

In [176]:
data

   datetime      open      high       low     close  volume
0    JAN'15  18845.90  20907.55  18479.65  19835.65       0
1    FEB'15  19778.95  19991.40  18226.90  19772.10       0
2    MAR'15  19954.50  20541.65  17720.30  18165.30       0
3    APR'15  18204.55  19038.50  17738.90  18389.75       0
4    MAY'15  18417.50  18755.45  17246.55  18720.95       0
5    JUN'15  18721.15  18832.50  17174.70  18287.00       0
6    JUL'15  18275.60  19229.05  18174.20  18717.30       0
7    AUG'15  18782.65  19103.70  16670.55  17144.75       0
8    SEP'15  16983.80  17652.20  15762.20  17220.00       0
9    OCT'15  17362.95  18029.05  17112.00  17335.40       0
10   NOV'15  17351.45  17498.35  16587.25  17405.75       0
11   DEC'15  17456.75  17495.45  16188.05  16904.15       0
12   JAN'16  16932.50  17066.65  14754.95  15514.85       0
13   FEB'16  15547.75  15565.50  13411.60  14017.85       0
14   MAR'16  14064.80  16282.75  14064.80  16141.20       0
15   APR'16  16099.65  17028.95  15440.25  16766.85       0
16   MAY'16  16614.00  17665.95  16186.25  17593.50       0
17   JUN'16  17670.85  18051.50  16946.35  17914.00       0
18   JUL'16  18019.70  19158.00  17910.90  18950.35       0
19   AUG'16  18896.50  19823.40  18443.65  19788.20       0
20   SEP'16  19805.80  20575.80  19061.40  19323.20       0
21   OCT'16  19395.55  19915.60  18824.85  19499.25       0
22   NOV'16  19578.60  20306.45  18187.50  18601.40       0
23   DEC'16  18676.75  18738.75  17608.35  18149.50       0
24   JAN'17  18242.30  19794.90  17831.75  19491.40       0
25   FEB'17  19522.40  21031.65  19471.40  20609.15       0
26   MAR'17  20698.90  21690.90  20423.70  21430.95       0
27   APR'17  21539.20  22382.05  21390.25  22349.15       0
28   MAY'17  22412.55  23469.45  22240.60  23452.40       0
29   JUN'17  23394.10  23896.90  22998.05  23241.95       0
30   JUL'17  23240.35  25134.20  23144.50  25091.55       0
31   AUG'17  25152.85  25196.45  23854.60  24301.35       0
32   SEP'17  24389.20  25104.90  23613.20  24026.40       0
33   OCT'17  24200.60  25177.35  23914.05  25047.85       0
34   NOV'17  25197.30  25953.50  25120.25  25349.90       0
35   DEC'17  25409.55  25779.05  24617.15  25530.55       0
36   JAN'18  25565.75  27651.35  25234.65  27392.65       0
37   FEB'18  27334.85  27612.40  24782.10  25111.50       0
38   MAR'18  25022.35  25225.30  23605.90  24306.10       0
39   APR'18  24235.65  25616.50  24065.45  25546.45       0
40   MAY'18  25607.05  27162.65  25469.90  26874.40       0
41   JUN'18  26913.40  27031.55  26072.60  26360.90       0
42   JUL'18  26364.45  27870.55  26061.75  27773.15       0
43   AUG'18  27684.80  28386.70  27330.45  28046.80       0
44   SEP'18  28199.45  28199.45  24678.85  25133.75       0
45   OCT'18  24943.90  25903.15  24244.85  25086.15       0
46   NOV'18  25285.20  27012.30  25129.45  26845.85       0
47   DEC'18  27032.90  27368.90  25601.75  27159.75       0
48   JAN'19  27231.40  27752.95  26443.70  27250.25       0
49   FEB'19  27334.55  27588.50  26617.70  26811.95       0
50   MAR'19  26941.00  30498.15  26941.00  30383.20       0
51   APR'19  30537.60  30656.50  29437.10  29729.45       0
52   MAY'19  29699.80  31782.40  28526.10  31350.85       0
53   JUN'19  31406.05  31752.70  30221.30  31121.60       0
54   JUL'19  31271.00  31658.10  28537.00  28868.55       0
55   AUG'19  28660.50  28818.65  26563.10  27485.55       0
56   SEP'19  27239.20  30795.00  26642.60  29098.30       0
57   OCT'19  29226.15  30413.50  27571.20  30034.85       0
58   NOV'19  30196.15  32155.75  30015.10  31926.30       0
59   DEC'19  32008.30  32611.20  30997.85  32179.40       0
60   JAN'20  32237.90  32463.10  30522.05  30812.75       0
61   FEB'20  30726.20  31598.55  29053.40  29191.40       0
62   MAR'20  29701.00  29778.65  16118.10  19051.40       0
63   APR'20  19122.40  21966.65  17149.85  21478.45       0
64   MAY'20  20514.75  20514.75  17108.35  19212.45       0
65   JUN'20  19728.90  22479.35  19510.35  21378.25       0
66   JUL'20  21354.10  23208.40  21028.00  21656.00       0
67   AUG'20  21543.80  25228.50  21034.00  23668.75       0
68   SEP'20  23893.80  24198.85  20407.45  21416.85       0
69   OCT'20  21685.25  24821.45  21685.25  23898.85       0
70   NOV'20  24367.60  30196.75  24128.65  29584.55       0
71   DEC'20  29844.80  31505.55  28977.65  31237.80       0
72   JAN'21  31297.30  32841.35  29694.95  30612.80       0
73   FEB'21  30976.35  37703.05  30909.20  34849.40       0
74   MAR'21  35374.25  36497.35  32420.55  33340.05       0
75   APR'21  33588.00  34284.85  30407.90  32714.35       0
76   MAY'21  32368.55  35582.35  31921.65  35484.55       0
77   JUN'21  35639.75  35804.35  33915.15  34780.55       0
78   JUL'21  34866.00  35984.65  34117.70  34576.15       0
79   AUG'21  34760.90  36549.95  34593.70  36389.15       0
80   SEP'21  36591.45  38366.55  36153.60  37411.05       0
81   OCT'21  37140.40  41827.65  36894.85  39270.55       0
82   NOV'21  39432.15  40160.20  35341.75  35600.45       0
83   DEC'21  35902.90  37579.50  34020.25  35510.95       0

In [209]:
data = pd.read_csv('./crude_tick/CRUDEOIL18APRFUT.MCX.CSV')

In [210]:
data.columns = data.columns.str.lower()

In [211]:
data['datetime'] = data['date']+' '+data['time']

In [212]:
data['datetime'] = pd.to_datetime(data['datetime'])

In [213]:
data.set_index(['datetime'],inplace=True)

In [214]:
resampling_dict = {'open':'first',
                   'high':'max',
                   'low':'min',
                   'close':'last',
                   'volume':'sum',
                   'open interest':'last'}

In [217]:
data = data['ltp'].resample('1S').apply(resampling_dict).dropna()

In [218]:
data

                       open    high     low   close  volume  open interest
datetime
2018-04-17 10:00:00  4351.0  4360.0  4351.0  4360.0   13062         4360.0
2018-04-17 10:00:03  4358.0  4358.0  4358.0  4358.0   13074         4358.0
2018-04-17 10:00:06  4359.0  4359.0  4359.0  4359.0    8718         4359.0
2018-04-17 10:00:07  4359.0  4359.0  4359.0  4359.0    4359         4359.0
2018-04-17 10:00:08  4359.0  4359.0  4359.0  4359.0   26154         4359.0
...                     ...     ...     ...     ...     ...            ...
2018-04-17 23:29:40  4348.0  4348.0  4348.0  4348.0    8696         4348.0
2018-04-17 23:29:46  4349.0  4349.0  4349.0  4349.0    8698         4349.0
2018-04-17 23:29:50  4348.0  4348.0  4348.0  4348.0    8696         4348.0
2018-04-17 23:29:52  4349.0  4349.0  4348.0  4348.0   21741         4348.0
2018-04-17 23:29:59  4349.0  4349.0  4349.0  4349.0    4349         4349.0

[15504 rows x 6 columns]